@import url(https://fonts.google.com/specimen/Bai+Jamjuree);


// Font
$font: "Bai Jamjuree", san-serif;

// Colors
$cyan: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);
$dark-gray:  hsl(210, 10%, 33%);
$gray: hsl(201, 11%, 66%);

// Default styling
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px;
}

body {
	font-family: $font;
	text-align: center;
}

// Button styling
.btn:link,
.btn:visited {
	font-size: 1.3rem;
	text-decoration: none;
	color: #fff;
	padding: 1.75rem 4rem;
	border-radius: 2000px;
}

.btn-cyan {
	background-color: $cyan;
	margin-right: 2rem;
}

.btn-blue {
	background-color: $blue;
}

// Text styling
.heading {
	color: $dark-gray;
	font-size: 3rem;
	margin-bottom: 4rem;
}

.summary {
	color: $gray;
	font-size: 1.5rem;
	margin-bottom: 3rem;
	line-height: 1.75;
}

// Landing page
.landing-page {
	background-image: url("../images/bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 14rem;
	padding: 0 20%;

	&__logo {
		margin-top: 20%;
		margin-bottom: 8rem;
	}

	&__heading {
		margin-bottom: 3rem;
		font-size: 4rem;
	}
	&__summary {
		margin-bottom: 6rem;
	}
}

// Snippets
.snippets {


	&__heading {

	}

	&__summary {
		padding: 0 20%;
	}
}


// Footer
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
