@import url(https://fonts.google.com/specimen/Bai+Jamjuree);


// Font
$font: "Bai Jamjuree", san-serif;

// Colors
$cyan: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);
$dark-gray:  hsl(210, 10%, 33%);
$gray: hsl(201, 11%, 66%);

// Breakpoints
$bp-xl: 87.5em; // 1400px
$bp-lg: 75em; // 1200px
$bp-md: 62.5em; // 1000px
$bp-sm: 46.8em; // 750px
$bp-xs: 34.3em; // 550px

// Default styling
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px;

	@media only screen and (max-width: $bp-lg) and (min-width: $bp-xl) {
		font-size: 100%;
	}

	@media only screen and (max-width: $bp-md) {
		font-size: 60%;
	}

	@media only screen and (max-width: $bp-sm) {
		font-size: 55%;
	}

	@media only screen and (max-width: $bp-xs) {
		font-size: 55%;
	}
}

body {
	font-family: $font;
	text-align: center;
}

// Button styling
.btn,
.btn:link,
.btn:visited {
	font-size: 1.3rem;
	text-decoration: none;
	color: #fff;
	padding: 1.75rem 4rem;
	border-radius: 2000px;
}

.btn-cyan {
	background-color: $cyan;
	margin-right: 2rem;
}

.btn-blue {
	background-color: $blue;
}

// Text styling
.heading {
	color: $dark-gray;
	font-size: 3rem;
	margin-bottom: 4rem;

	&-2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}


.summary {
	color: $gray;
	font-size: 1.5rem;
	margin-bottom: 3rem;
	line-height: 1.75;
}

// Landing page
.landing-page {
	background-image: url("../images/bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 14rem;
	padding: 15%;

	&__logo {
		margin-top: 15%;
		margin-bottom: 8rem;
	}

	&__heading {
		margin-bottom: 3rem;
		font-size: 4rem;
	}
	&__summary {
		margin-bottom: 8rem;
	}
}

// Snippets
.snippets {
	padding: 0 20%;

	&__summary {
		margin-bottom: 12rem;
	}
}

// Features
.features {
	display: flex;
	justify-content: space-around;
	padding-right: 5%;

	@media only screen and (max-width: $bp-sm) {
		flex-direction: column;
		justify-content: center;
		padding-right: 0;
	}

	&__img {
		transform: translateX(-2.5rem);
		width: 50vw;

		@media only screen and (max-width: $bp-sm) {
			transform: translateX(0);
			align-self: center;
			margin-bottom: 7rem;
		}

		@media only screen and (max-width: $bp-sm) {
			width: 70vw;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		padding-left: 5%;


		@media only screen and (max-width: $bp-lg) and (min-width: $bp-xl) {
			padding: 0;
		}

		@media only screen and (max-width: $bp-sm) {
			text-align: center;
			padding: 10%;
		}

	}
}

// Clipboard
.clipboard {
	margin-bottom: 10rem;
	padding: 0 10%;

	&__heading {
		margin-top: 12rem;
	}

	&__summary {
		margin-bottom: 10rem;
	}

	&__img {
		width: 65vw;

		@media only screen and (max-width: $bp-sm) {
			width: 80vw;
		}
	}
}

// Workflow
.workflow {
	padding: 0 10%;

	&__features {
		display: flex;
		justify-content: space-around;
		align-items: center;


		@media only screen and (max-width: $bp-sm) {
			flex-direction: column;
		}

	}

	&__feature {
		width: 25%;

		@media only screen and (max-width: $bp-sm) {
			width: auto;
		}
	}

	&__img {
		height: 4rem;
		margin-top: 4.5rem;
		margin-bottom: 3rem;

		@media only screen and (max-width: $bp-sm) {
			height: 3.5rem;
			margin-top: 4rem;
			margin-bottom: 2.5rem;
		}
	}
}

.feature__heading {
	font-size: 1.5rem;
}

.feature__summary {
	font-size: 1.2rem;
}

// Companies
.companies {
	margin: 10rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 8%;

	@media only screen and (max-width: $bp-sm) {
		flex-direction: column;
		margin: 5rem 0;
		padding: 0;
		height: 40rem;
	}

	&__logo {
		height: 4rem;

		@media only screen and (max-width: $bp-md) {
			height: 3.5rem;
		}

	}
}

// Last
.last {
	margin-bottom: 20rem;
	padding: 0 10%;

	&__summary {
		margin-bottom: 8rem;
	}
}



// Footer
.footer {
	background-color: #f0f0f3;

	&__content {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__logo {
		margin-top: 3rem;
		height: 6rem;

		@media only screen and (max-width: $bp-sm) {
			height: 4rem;
			margin-top: 2rem;
		}
	}

	&__sections {
		display: grid;
		grid-template-columns: repeat(3, minmax(3rem, 1fr));
		column-gap: 5rem;
		row-gap: 2rem;
		font-size: 1.3rem;
		margin-top: 1.75rem;

		@media only screen and (max-width: $bp-sm) {
			font-size: .8rem;
		}
	}

	&__section {
		color: $dark-gray;

		&:hover {
			cursor: pointer;
		}
	}

	&__icons {
		margin-top: 2rem;

		img {
			@media only screen and (max-width: $bp-sm) {
				height: 2rem;
			}
		}
	}

	&__icon,
	&__icon:link,
	&__icon:visited {
		&:not(:last-child) {
			text-decoration: none;
			margin-right: 2rem;
		}
	}
}

.attribution {
	margin-top: 3rem;
	font-size: 1.1rem;
	text-align: center;

	@media only screen and (max-width: $bp-sm) {
		font-size: .5rem;
	}
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
